/* ../../blocks/a2/a2.css: begin */ /**/
    .a2
    {
        display: inline-block;
    }
    
/* ../../blocks/a2/a2.css: end */ /**/

/* ../../common/a1/a1.css: begin */ /**/
    .a1
    {
        display: block;
    }
    
/* ../../common/a1/a1.css: end */ /**/

/* ../../blocks/a1/a1.css: begin */ /**/
    .a1
    {
        color: darkcyan;
    
        font-size: 25px;
    }
    
/* ../../blocks/a1/a1.css: end */ /**/
